<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro Robotics</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <!-- Include the additional CSS files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kroger.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
</head>

<body>
    {% include 'components/navbar.html' %}

    {% block content %}
        {% include 'components/carousel.html' %}
    {% endblock %}

    {% include 'components/footer.html' %}

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>

</html>