body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 20px;
}

header {
    background-color: #040000;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px 0;
}
.footer-content {
    max-width: 800px;
    margin: 0 auto;
}
.contact-info {
    list-style: none;
    padding: 0;
}
.contact-info li {
    margin: 5px 0;
}

/* photo grid styles */
.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* This will space out the images evenly */
    padding: 0;
}
.photo-item {
    flex-basis: calc(50% - 20px);
    /* Adjust for two images per row, assuming 20px total margin */
    margin: 10px;
    /* This gives 10px margin on all sides of each photo */
    box-sizing: border-box;
}
.photo-item img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 600px) {
    .photo-item {
        flex-basis: calc(100% - 20px);
        /* Full width on small screens */
    }
}

/* This is style for flash message */
.flash-messages {
    width: 100%;
    /* Take the full width of the viewport */
    position: fixed;
    /* Position it relative to the viewport */
    top: 50px;
    /* Adjust this value based on the height of your navigation bar */
    left: 0;
    right: 0;
    z-index: 1030;
    /* Ensure it's on top of other elements */
    text-align: center;
    /* Center the text of the messages */
    transition: opacity 0.5s ease-in-out;
    /* Transition effect for the opacity */
    opacity: 1;
    /* Full opacity initially */
}
.flash-messages.hide {
    opacity: 0;
    /* Fully transparent */
    visibility: hidden;
    /* Ensures that the space is also cleared after it's hidden */
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    /* Adjusts visibility after opacity transition */
}
.alert {
    display: inline-block;
    /* Display messages inline */
    margin: 0.5rem auto;
    /* Center the messages and add some margin */
    padding: 1rem;
    /* Padding inside the alert boxes */
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* button styles */
.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}