.my-carousel {
    margin-top: 0px;
    padding: 5px;
    /* Adjust this value based on the height of your navbar */
}

/* Adjust the height of the carousel */
.carousel-item .view {
    color: rgb(30, 229, 63);
    min-height: 500px;
    /* Adjust this value to increase the height */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Adjust as needed: could be 'top', 'bottom', 'center', etc. */
}

/* Media Query for screens less than or equal to 768px */
@media screen and (max-width: 768px) {
    .carousel-item .view {
        min-height: 300px;
        /* Smaller height for smaller screens */
        /* Maintain other styles or add additional styles if needed */
    }
}