.logo {
    height: 120px;
    /* Adjust the size as needed */
    width: auto;
    /* Additional styling as needed */
}

.dynamic-logo {
    width: 150px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

/* Media Query - If the screen size is less than or equal to 768px */
@media screen and (max-width: 768px) {
    .logo {
        height: 80px;
        /* Smaller size for small screens */
        width: auto;
    }

    .dynamic-logo {
        width: 100px;
        /* Smaller size for small screens */
        /* Keep the animation if you want it to continue on smaller screens */
        animation: pulse 2s infinite;
    }
}