{% extends 'components/base.html' %}

{% block content %}
<h1>Upcoming Events</h1>
<ul>
    {% for event in events %}
    {% if event.date > current_time %}
    <li>
        <h2>{{ event.title }}</h2>
        <p>{{ event.description }}</p>
        <p><strong>Date:</strong> {{ event.date.strftime('%Y-%m-%d %H:%M') }}</p>
        <a href="{{ url_for('register', event_id=event.id) }}">Register</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h1>Past Events</h1>
<ul>
    {% for event in events %}
    {% if event.date <= current_time %}
    <li>
        <h2>{{ event.title }}</h2>
        <p>{{ event.description }}</p>
        <p><strong>Date:</strong> {{ event.date.strftime('%Y-%m-%d %H:%M') }}</p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
    <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="About"
        style="width:100%;max-width:600px;height:auto;">
{% endblock %}
